<%= form_for @schedule do |f| %>
<table>
	<!-- <tr>
		<td><%= f.label :name %></td>
		<td><%= f.text_field :name %></td>
	</tr> -->
	<tr>
		<td><%= f.hd_label :lunchtime %></td>
		<td><%= f.hd_picker :lunchtime, { hd_opts: {current_text: "Current", close_text: "Set", time_suffix: " o'clock"}, data: { my_data: "true" } } %></td>
	</tr>
	<tr>
		<td><%= f.hd_label :suppertime %></td>
		<td><%= f.hd_picker :suppertime, { data: { my_data: "true" }, html: { class: "css_class my_class" }, hd_opts: { minute_grid: "20" } } %></td>
	</tr>
	<tr>
		<td><%= f.hd_label :alarm_setting %></td>
		<td><%= f.hd_picker :alarm_setting, { :time_format => "HH:mm:ss", hd_opts: {:hour_grid => "4", :minute_grid => "10", :second_grid => ""} }, :w_seconds %></td>
	</tr>
	<tr>
		<td><%= f.hd_label :birthday %></td>
		<td><%= f.hd_picker :birthday, { hd_opts: {show_button_panel: true} } %></td>
	</tr>
	<tr>
		<td><%= f.hd_label :apocalypse %></td>
		<td><%= f.hd_picker :apocalypse, { hd_opts: {separator: " @ "} } %></td>
	</tr>
	<!-- Not passing in locale formats for these because we don't care about format displayed by the system
	for the tests -->
	<tr>
		<td><%= f.hd_label :christmas %></td>
		<td><%= f.hd_picker :christmas %></td>
	</tr>
	<tr>
		<td><%= f.hd_label :beer_oclock %></td>
		<td><%= f.hd_picker :beer_oclock %></td>
	</tr>
	<tr>
		<td><%= f.hd_label :epoch %></td>
		<td><%= f.hd_picker :epoch %></td>
	</tr>
	<tr>
		<td><%= f.hd_label :date_in_time %></td>
		<td><%= f.hd_picker :date_in_time, {}, :date_only, "datepicker" %></td>
	</tr>
	<tr>
		<td><%= f.hd_label :time_of_date %></td>
		<td><%= f.hd_picker :time_of_date, {}, :time_only, "timepicker" %></td>
	</tr>
	<tr>
		<td><%= f.submit %></td>
	</tr>
</table>
<% end %>
