<table>
	<tr>
		<td colspan="2">
			<%= form_tag(filtered_schedules_path, method: :get) do %>
				<%= hd_picker_tag :start_date, l(Date.today - 1.month) %>
				to
				<%= hd_picker_tag :end_date, l(Date.today) %>
			<% end %>
		</td>
	</tr>
<% @schedules.each do |s| %>
	<tr>
		<td><%= s.name %></td>
		<td><%= link_to "Edit", "#", id: "open_edit_modal" %></td>
	</tr>
<% end %>
</table>